@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

html {
    background-color: #89D5C9;
    /*font-family: "Helvetica Neue";*/
    font-family:  'Work Sans', sans-serif;
    font-style: normal;
    text-align: center;
    vertical-align: center;



    /*background-repeat: repeat;*/
    /*background-position: center;*/
    /*background-size: 100%;*/
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;

    /*margin: auto auto;*/

    padding: 10px;

}

div.container {
    height: 700px;
    position: relative;
}
div.container main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*main {*/
    /*position: absolute;*/
    /*top: 45%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*text-align: center;*/
    /*width: 80%;*/
    /*color: white;*/

    /*!*background-color: royalblue !important;*!*/
/*}*/

.titlehead {
    font-size: 50px;
    font-weight: bold;
    line-height: 70px;
}
.beach_names {
    color: white;
}
.beach_names:hover {
    color: white;
    text-decoration: underline;
}
.paragraph {
    font-size: 20px;
    line-height: 30px;
}
.backbutton {
    font-family:  'Work Sans', sans-serif;
    font-size: 17px;
    color: #605f58;
    background-color:white;
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    /*color: pink;*/

}

.backbutton:hover {
    font-family:  'Work Sans', sans-serif;
    font-size: 17px;
    color: #605f58;
    background-color:white;
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

    /*color: pink;*/
}

.button {
    margin: 20px;
    width: 140px;
    height: 45px;
    font-family:  'Work Sans', sans-serif;
    font-size: 17px;
    /*letter-spacing: 2.5px;*/
    /*font-weight: 500;*/
    color: #89D5C9;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #FAC172;
    box-shadow: 0px 15px 20px #537182;
    color: #fff;
    /*transform: translateY(-7px);*/
}

/*.container{*/
    /*text-decoration: none;*/
/*}*/


/*#count.hover {*/
    /*background-color: orange !important;*/
    /*border-color: orange !important;*/
    /*color: black !important;*/
/*}*/
/*#count:hover {*/
    /*color: aqua;*/
/*}*/

a.link:hover {
    text-decoration: underline;
    color: coral;
}

#count:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: pink;
}

.delete{
    color: black;
    border: none;
    background-color: #eee;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}
.delete:hover{
    border: 1px solid #888;
    background-color: #ddd;
}

footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

    /*width: 100%;*/
    /*float: center;*/
    /*font-size: 14px;*/
    /*text-align: center;*/
    /*display: inline-block;*/
    /*color: white;*/
    /*text-decoration: none;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}