@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

html {
    /*font-family: "Helvetica Neue";*/
    font-family:  'Work Sans', sans-serif;
    font-style: normal;
    text-align: center;
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
}

main {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

    /*background-color: royalblue !important;*/
}
.titlehead {
    font-size: 50px;
    font-weight: bold;
    line-height: 70px;
}
.beach_names {
    color: white;
}
.beach_names:hover {
    color: white;
    text-decoration: underline;
}
.paragraph {
    font-size: 20px;
    line-height: 30px;
}


/*.container{*/
    /*text-decoration: none;*/
/*}*/


/*#count.hover {*/
    /*background-color: orange !important;*/
    /*border-color: orange !important;*/
    /*color: black !important;*/
/*}*/
/*#count:hover {*/
    /*color: aqua;*/
/*}*/

a.link:hover {
    text-decoration: underline;
    color: coral;
}

#count:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: pink;
}

.delete{
    color: black;
    border: none;
    background-color: #eee;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}
.delete:hover{
    border: 1px solid #888;
    background-color: #ddd;
}