{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <title>PR Beach Testing Project</title>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="https://cdn.bootcss.com/typed.js/1.1.4/typed.min.js"></script>-->
    {% block stylesheet %}
    {% endblock %}
</head>



{% block content %}
<body>
<div class="container" style="width: 100%">
    <main>
        <div class="titlehead">Statistics</div>
        <div class="paragraph">
        {{err_msg}}
        {% for stat in stats %}
        {{stat.beach_name}}:      {{stat.date_visited}}
        <br>
        {% endfor %}
            <button class="button" onclick="location.href='http://surfrider-test.herokuapp.com'">go back</button>
        </div>
    </main>
</div>

</body>

<footer class="w3-container w3-center w3-padding-16">
    <p>Copyright 2019 by A. Chang, J. Chizewer, L. Kim, E. Zinberg</p>

</footer>
{% endblock %}

</html>
