{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <title>PR Beach Testing Project</title>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="https://cdn.bootcss.com/typed.js/1.1.4/typed.min.js"></script>-->
    {% block stylesheet %}
    {% endblock %}
</head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MG76TDM');</script>
<!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142674316-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-142674316-1');
</script>


{% block content %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MG76TDM"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="container">
    <main>
        <h1>Statistics</h1>
        <p>
            <!--{% for key, values in beach_dict.items %}-->
            <!--{{key}}: {{values}}-->
            <!--{% endfor %}-->
        </p>

        <form action="#">
            <div class="form-group">
                <label for="querycode">Enter a department code, optionally with a number:</label>
                <input type="text" class="form-control" id="querycode" placeholder="dep[/num]">
            </div>
            <button onclick="docount()" type="button" class="btn btn-default" id="count">Count</button>
            <button onclick="doclear()" type="button" class="btn btn-default" id="clear">Clear</button>
            <button onclick="dosubmit()" type="submit" class="btn btn-default">Submit</button>
        </form>
    </main>

</div>

</body>
{% endblock %}

<script type="text/javascript">
    function docount() {
        var query = document.getElementById("querycode").value;
        if (query)
            window.location.href = "/count/" + query;
        else
            window.location.href = "/count"
    }
    function doclear() {
        var query = document.getElementById("querycode").value;
        if (query)
            window.location.href = "/clear/" + query;
        else
            window.location.href = "/clear"
    }
    function dosubmit() {
        var query = document.getElementById("querycode").value;
        window.location.href = "/" + query;
    }
</script>
</html>
